<%# < id="notice"><%= notice %>
<br/>
<h2>Posts</h2>
<br/>
<table class="table table-sm">
  <thead>
    <tr>
      <tr class="table-primary ">
        <th>Title</th>
        <th>Body</th>
        <% if user_signed_in? %>
          <th>Author</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <% if user_signed_in? %>
              <td><%= post.author %></td>
            <% elsif post.user == current_user %>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
            <td><%= link_to 'Show', @post %></td>
          </tr>
        <% end %>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
    </thead>
    <tbody>
    </tbody>
  </table>
  <br>
  <button type="button" class="btn btn-info "><%= link_to 'New Post', new_post_path, class:"text-white"%></button>
